# Copy this file to .env and fill the values
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/annasetu?retryWrites=true&w=majority
PORT=5000
# Add other env variables as needed